@model IEnumerable<TS.BAPLN.DataEntities.DTO.BecaEstudianteDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Estudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Beca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoBeca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoCuota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadCuotas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Estudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Beca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoBeca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoCuota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadCuotas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
